#hero .background {
  padding: 0 24px 40px;
}

#hero .background::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 558px;
  top: 0;
  left: 0;
  background-color: #ffc700;
  z-index: -1;
}

#hero .image {
  width: 408px;
  height: 393px;
}

#hero .rule {
  width: 150px;
  height: 3px;
  transform: translateY(10px);
  background-color: #433434;
}

#hero .description {
  max-width: 274px;
  line-height: 1.36;
  padding-left: 32px;
}

#popular .title {
  padding: 24px 0;
}

#user-transaction {
  overflow: auto;
  max-height: 393px;
  flex-wrap: nowrap;
}
#user-transaction img {
  width: 100%;
}

#cart-list {
  overflow: auto;
  height: 235px;
}

#order-list .imgSize {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
