.headerRoot {
  flex-grow: 1;
}

.headerTitle {
  flex-grow: 1;
}

.headerBrand {
  height: 40px;
  width: auto;
}

.headerPadding {
  padding: 0 64px;
}

@media screen and (max-width: 600px) {
  .headerPadding {
    padding: 0 12px;
  }
}

.headerButton {
  width: 100px;
  height: 30px;
  margin-left: 24px !important;
}
