.header-root {
  flex-grow: 1;
}

.header-title {
  flex-grow: 1;
}

.header-brand {
  height: 40px;
  width: auto;
}

.header-padding {
  padding: 0 64px;
}

@media screen and (max-width: 600px) {
  .header-padding {
    padding: 0 12px;
  }
}

.header-button {
  width: 100px;
  height: 30px;
  margin-left: 24px !important;
}
